Options +Indexes

RewriteEngine on

RewriteCond %{HTTP_HOST} ^avant-ventures.com [NC]
RewriteRule ^(.*)$ http://www.avant-ventures.com/$1 [L,R=301,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]
